.active {
    background-color: #0d6efd !important;
    color: white;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn {
    border-radius: 5px;
}

.btn-secondary {
    background-color: #343a40;
    border: none;
}

.btn-secondary:hover {
    background-color: #23272b;
}

.btn-secondary.active {
    background-color: #0d6efd;
    border: none;
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.form-label {
    color: #343a40;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.form-select {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.spinner-border {
    width: 100px;
    height: 100px;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

