/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ecf0f1;
}

h1 {
    color: #2c3e50;
}

/* Card Styles */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
.btn {
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-secondary {
    background-color: #2c3e50;
    border: none;
}

.btn-secondary:hover {
    background-color: #1a252f;
}

.btn-secondary.active {
    background-color: #3498db;
    border: none;
}

.btn-primary {
    background-color: #3498db;
    border: none;
}

.btn-primary:hover {
    background-color: #2980b9;
}

/* Form Styles */
.form-label {
    color: #2c3e50;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.form-select {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.input-group-text {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px 0 0 5px;
    color: #343a40;
}

/* Loading Spinner Styles */
#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
}

.spinner-border {
    width: 120px;
    height: 120px;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

/* Footer Styles */
.footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
}

.footer a {
    margin: 0 5px;
}

.footer img {
    vertical-align: middle;
}

.footer .text-right {
    text-align: right;
    margin-left: auto;
}

/* Misc Styles */
.active {
    background-color: #3498db !important;
    color: white;
}

.form-control {
    border-radius: 0 5px 5px 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 0.5s;
}
